<p id="notice"><%= notice %></p>

<section class="container">
    <div class="sm-6">
        <h2>なんちゃってFacebook</h2>
        <p>Facebook風のデモアプリです。</p>
    </div>
</section>
<!-- <section class="main-header">
    <img src="<%= asset_path "instagram.jpg" %>">
</section> -->
