.user_menu {
  margin: 10px 0 10px 1px;
  background-color: white;
}

.topic_area {
  padding-bottom: 100px;
}

.topic_menu {
  margin: 10px 1px;
  height: auto;
  background-color: white;
  border-bottom: 1px solid #ccc;
  text-align: left;
  word-wrap: break-word;
  padding: 10px;
}

.sign_up_menu {
  width: 360px;
  margin: 10px 0px 10px 0;
  background-color: white;
}

textarea {
  resize: none;
}

textarea#topic_content {
  height: 250px;
}

.img-val > img {
  max-width: 10%;
  border-radius: 100px;
  margin: 5px;
}

p {
  .sign-up-img-val > .left > .clearfix {
    margin-bottom: 0;
  }
}
.sign-up-img-val > img {
  max-width: 30px;
  height: auto;
  border-radius: 100px;
  display:inline-block;
  vertical-align: middle;
}

.topic-content {
  margin-left: 15px;
}

.topic_write, .comment-deteal {
  margin-bottom: 100px;
}

.left {
  float: left;
  text-align: left;
  margin-left: auto;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.message-btn {
  margin-right: auto;
}
.follow-btn {
  margin-bottom: 10px;
}

.user-info {
  margin-top: 10px;
}

.deteal-left {
    text-align: left;
}
