.users_area {
  padding-bottom: 100px;
}

.follow_area {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  word-wrap: break-word;
}

.follow {
  padding-top: 13px;
  padding-bottom: 13px;
}

img {
  width: 120px;
  max-width: 120px;
}
